* {
  margin: 0;
  /* padding: 0; */
}
ul {
  list-style-type: none;
  color: white;
  background: linear-gradient(to left, black, grey);
  height: 50px;
  position: sticky;
  top: 0;
}
.HireMeright {
  float: right;
  padding: 16px 24px;
  margin-right: 32px;
  color: aqua;
}
li {
  float: left;
  padding: 16px 24px;
}

li:hover {
  border-bottom: solid Dodgerblue 2px;
  cursor: pointer;
}

.dropDownContainer {
  display: none;
  position: absolute;
  margin-top: 22px;
  color: white;
  background: Dodgerblue;
  width: 200px;
  border-radius: 8px;
}
li:hover .dropDownContainer {
  display: block;
}
.content {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.content:hover {
  background: linear-gradient(to left, grey, black);
  color: white;
}
.dropIcon {
  float: right;
}

.emailContainer:hover .emailDropDown {
  display: block;
}

.emailDropDown {
  display: none;
  position: absolute;
  background: Dodgerblue;
  border-radius: 5px;
  color: white;
  margin-left: 190px;
  padding: 8px;
}

@media screen and (max-width: 672px) {
  ul {
    color: white;
    height: 340px;
  }
  li {
    float: none;
  }
  .HireMeright {
    float: none;
  }
}
