* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
.menuContainer {
  display: none;
  position: sticky;
  float: right;
  margin: 16px;
  z-index: 1;
}

.menulist {
  background-color: dodgerblue;
  width: 20px;
  height: 3px;
  margin: 2px;
  cursor: pointer;
}
ul {
  display: block;
  list-style-type: none;
  color: white;
  background: linear-gradient(to left, black, grey);
  height: 50px;
  position: sticky;
  top: 0;
}
.HireMeright {
  float: right;
  padding: 16px 24px;
  margin-right: 32px;
  color: aqua;
}
li {
  float: left;
  padding: 16px 24px;
}

li:hover {
  border-bottom: solid Dodgerblue 2px;
  cursor: pointer;
}

.dropDownContainer {
  display: none;
  position: absolute;
  margin-top: 22px;
  color: white;
  background: Dodgerblue;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3),
    0 12px 26px 0 rgba(0, 0, 0, 0.29);
}
li:hover .dropDownContainer {
  display: block;
}
.content {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.content:hover {
  background: linear-gradient(to left, grey, black);
  color: white;
}
.dropIcon {
  float: right;
}

.emailContainer:hover .emailDropDown {
  display: block;
}

.emailDropDown {
  display: none;
  position: absolute;
  background: Dodgerblue;
  border-radius: 5px;
  color: white;
  margin-left: 190px;
  padding: 8px;
}
.LandingpageFirstContainer {
  width: 98%;
  margin: 8px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  cursor: crosshair;
}
.description {
  display: flex;
  align-items: center;
}
.desciptionholder {
  text-align: center;
  width: 100%;
  padding: 16px;
}
.skillSetdesciptionholder {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 16px;
}
.desciptiontext {
  margin: 16px;
}
.imageContainer {
  background-image: url("/src/Assets/ImageOne.jpeg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  height: 750px;
  cursor: crosshair;
  animation: poundingEffect 0.7s linear 0.5s 1 alternate backwards;
  position: relative;
  z-index: -1;
}
.secondImageContainerInVisble {
  background-image: url("/src/Assets/ImageThree.jpeg");
  background-size: cover;
  background-position: 100% -700%;
  background-repeat: no-repeat;
  height: 750px;
  cursor: crosshair;
}
.secondImageContainer {
  background-image: url("/src/Assets/ImageThree.jpeg");
  background-size: cover;
  background-position: 100% -900%;
  background-repeat: no-repeat;
  height: 750px;
  cursor: crosshair;
  animation: slideIn 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
.SkillSetsHolder {
  width: 100%;
  float: left;
  padding: 12px;
}
.skillsHeader {
  margin: 12px 0;
}
.skillsetProgress {
  width: 90%;
  height: 9px;
  border-radius: 4px;
  background: linear-gradient(to left, lightgrey 50%, Dodgerblue 50%);
  background-size: 200% 100%;
  background-position: 200% bottom;
  margin: 6px;
}
.progressHtml {
  animation: progressHtml 1s linear;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.progressCSS {
  animation: progressCSS 1s linear;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.progressJavaScript {
  animation: progressJavaScript 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}
.progressReact {
  animation: progressReact 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}
.progressRedux {
  animation: progressRedux 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.4s;
}
.progressExpress {
  animation: progressExpress 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.4s;
}
.progressNodeJs {
  animation: progressNodeJs 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.6s;
}
.progressMongodb {
  animation: progressMongodb 1s linear;
  animation-fill-mode: both;
  animation-delay: 1.6s;
}
@keyframes progressHtml {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 10% bottom;
  }
}
@keyframes progressCSS {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 20% bottom;
  }
}
@keyframes progressJavaScript {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 30% bottom;
  }
}
@keyframes progressReact {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 5% bottom;
  }
}
@keyframes progressRedux {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 2% bottom;
  }
}
@keyframes progressExpress {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 10% bottom;
  }
}
@keyframes progressNodeJs {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 30% bottom;
  }
}
@keyframes progressMongodb {
  0% {
    background-position: 100% bottom;
  }
  100% {
    background-position: 20% bottom;
  }
}
@keyframes slideIn {
  0% {
    background-position: 50% -700%;
    opacity: 1;
  }
  100% {
    background-position: 50% 0%;
    opacity: 1;
  }
}
@keyframes poundingEffect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.04);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.learnMoreButton {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 24px;
  cursor: pointer;
  background: linear-gradient(to left, Dodgerblue 50%, black 50%);
  background-size: 200% 100%;
  background-position: 100% 0%;
}
.learnMoreButtonOut {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 24px;
  cursor: pointer;
  background: linear-gradient(to left, Dodgerblue 50%, black 50%);
  background-size: 200% 100%;
  background-position: 0% 0%;
  animation: reversechargeEffect 0.5s linear;
  animation-fill-mode: forwards;
}
.learnMoreButton:hover {
  animation: chargeEffect 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes chargeEffect {
  0% {
    background-position: 100% 0%;
  }
  33.33% {
    background-position: 0% 0%;
  }
  66.66% {
    background-position: 25% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes reversechargeEffect {
  0% {
    background-position: 0% 0%;
  }
  33.33% {
    background-position: 100% 0%;
  }
  66.66% {
    background-position: 75% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.row {
  margin: 32px 36px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  width: 100%;
  margin-bottom: 2px;
}

@media screen and (max-width: 767px) {
  ul {
    display: none;
  }
  .showNavbar {
    display: block;
  }
  .menuContainer {
    display: block;
  }
  .gallery {
    width: 100%;
  }
  .IntroductionName {
    margin-top: 20px;
  }
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      max-height: auto;
    }
  }
  ul {
    color: white;
    height: 340px;
    /* animation: slideDown 0.15s; */
  }
  li {
    float: none;
  }
  .HireMeright {
    float: none;
    margin-right: 0;
  }
}
@media screen and (max-width: 678px) {
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: auto;
    }
  }
  ul {
    color: white;
    height: auto;
    /* animation: slideDown 0.15s; */
  }
  li {
    float: none;
  }
  .HireMeright {
    float: none;
  }
}

/* This is media query for all devices */

@media only screen and (max-width: 600px) {
  /* This is for extra small  devices */
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* This is for  small devices*/
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* This is for medium devices */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* This is for large  devices */
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  /* This is for  extra large devices */
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
