* {
  margin: 0;
  /* padding: 0; */
}
.menuContainer {
  display: none;
  position: sticky;
  float: right;
  margin: 16px;
  z-index: 1;
}

.menulist {
  background-color: dodgerblue;
  width: 20px;
  height: 3px;
  margin: 2px;
  cursor: pointer;
}
ul {
  display: block;
  list-style-type: none;
  color: white;
  background: linear-gradient(to left, black, grey);
  height: 50px;
  position: sticky;
  top: 0;
}
.HireMeright {
  float: right;
  padding: 16px 24px;
  margin-right: 32px;
  color: aqua;
}
li {
  float: left;
  padding: 16px 24px;
}

li:hover {
  border-bottom: solid Dodgerblue 2px;
  cursor: pointer;
}

.dropDownContainer {
  display: none;
  position: absolute;
  margin-top: 22px;
  color: white;
  background: Dodgerblue;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3),
    0 12px 26px 0 rgba(0, 0, 0, 0.29);
}
li:hover .dropDownContainer {
  display: block;
}
.content {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.content:hover {
  background: linear-gradient(to left, grey, black);
  color: white;
}
.dropIcon {
  float: right;
}

.emailContainer:hover .emailDropDown {
  display: block;
}

.emailDropDown {
  display: none;
  position: absolute;
  background: Dodgerblue;
  border-radius: 5px;
  color: white;
  margin-left: 190px;
  padding: 8px;
}

.gallery {
  float: left;
  width: 46.875%;
  margin: 12px 0;
}
.LandingPageImage {
  width: 100%;
  height: auto;
  cursor: all-scroll;
}
.descriptionContainer {
  text-align: center;
}
.IntroductionName {
  margin-top: 26vh;
  font-size: 64px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.IntroductionCareer {
  margin-top: 24px;
}
.learnMoreButton {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 24px;
  cursor: pointer;
  background: linear-gradient(to left, Dodgerblue 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-in-out;
}
.learnMoreButton:hover {
  background-position: left bottom;
}
@media screen and (max-width: 767px) {
  ul {
    display: none;
  }
  .showNavbar {
    display: block;
  }
  .menuContainer {
    display: block;
  }
  .gallery {
    width: 100%;
  }
  .IntroductionName {
    margin-top: 20px;
  }
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      max-height: auto;
    }
  }
  ul {
    color: white;
    height: 340px;
    /* animation: slideDown 0.15s; */
  }
  li {
    float: none;
  }
  .HireMeright {
    float: none;
    margin-right: 0;
  }
}
@media screen and (max-width: 678px) {
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: auto;
    }
  }
  ul {
    color: white;
    height: auto;
    /* animation: slideDown 0.15s; */
  }
  li {
    float: none;
  }
  .HireMeright {
    float: none;
  }
}
